$--very-light-pink: #c7c7c7;
$--white: #ffffff;
$--text-input-field: #f7f7f7;
$--black: #000000;
$--hospital-green: #acd9b2;
$--hospital-green-transparent: rgba(172, 217, 178, 0.4);
$--dark: #5c5f64;
$--negative: #d25050;
$--sm: 1.4rem;
$--md: 1.6rem;
$--lg: 1.8rem;
$--title: 3.2rem;
