@import 'vars';

.AdminMenu {
  display: flex;
  justify-content: right;
  align-items: flex-end;
  width: 120px;
  height: 60px;
  position: absolute;
  top: 57px;
  right: 0;
  border: 3px solid $--text-input-field;
  border-radius: 0 0 0 7px;
  background-color: $--white;
}

.AdminMenu button {
  margin: 0 1rem 1rem 0;
  background: none;
  border: none;
  color: $--dark;
  font-weight: bold;
  cursor: pointer;
}
